.login__page{
    margin-left: 35%;
    margin-top: 5%;
    width: 40rem;
    height: 30rem;
    background-color: rgba(50, 4, 255, 0.044);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login__page h1{
    margin-bottom: 5rem;
}
.login__button{
    width: 20rem;
    height: 10rem;
    background-color: rgba(50, 4, 255, 0.071);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .42rem;
}