@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    margin: 0 5rem 0 5rem;
}

.userIcon{
    font-size: 1.875rem;
    fill: rgb(232, 232, 232);
    padding: .5rem;
    background-color: blue;
    border-radius: .5rempx;
}
nav{
    background-color: rgba(216, 216, 216, 0.108);
}
.logo{
    width: 2.5rem;
}
.question__header{
    padding: .7rem;
    width: 80%;
    border-bottom: 3px solid blue;
}